body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #ec3565;
  color: white;
  text-align: center;
  padding: 20px;
  height: 80px;
}
.row {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
  background-color: #d3d3d3;
  margin: 5px;
  text-align: center;
  padding: 20px;
}

.footer {
  background-color: #ec3565;
  color: white;
  text-align: center;
  padding: 10px;
}
